#e400_146 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e400_147 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1494px;
	height:677px;
	position:absolute;
	left:246px;
	top:140px;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_148 { 
	background-color:rgba(255, 225.845046043396, 150.8750081062317, 1);
	opacity:1;
	width:960px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_149 { 
	opacity:1;
	width:392px;
	height:70px;
	position:absolute;
	left:79px;
	top:782px;
}
#e400_150 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:307.6033935546875px;
	height:10.275229454040527px;
	position:absolute;
	left:84.39659881591797px;
	top:-3.410605131648481e-13px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_151 { 
	opacity:1;
	width:62.18696975708008px;
	height:11.987767219543457px;
	position:absolute;
	left:0px;
	top:58.01223373413086px;
	background-image:url(images/e591276_arrow_right_512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_152 { 
	opacity:1;
	width:81px;
	height:75px;
	position:absolute;
	left:79px;
	top:762px;
	background-image:url(images/edownload_removebg_preview_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_153 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:612px;
	height:22px;
	position:absolute;
	left:169px;
	top:671px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_154 { 
	opacity:1;
	width:81px;
	height:75px;
	position:absolute;
	left:83px;
	top:655px;
	background-image:url(images/edownload_removebg_preview_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_155 { 
	opacity:1;
	width:81px;
	height:75px;
	position:absolute;
	left:83px;
	top:548px;
	background-image:url(images/edownload_removebg_preview_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_156 { 
	opacity:1;
	width:81px;
	height:75px;
	position:absolute;
	left:83px;
	top:302px;
	background-image:url(images/edownload_removebg_preview_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_157 { 
	opacity:1;
	width:105px;
	height:87px;
	position:absolute;
	left:830px;
	top:274px;
	background-image:url(images/edownload_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_158 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:61px;
	position:absolute;
	left:49px;
	top:907px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_159 { 
	opacity:1;
	width:60px;
	height:35px;
	position:absolute;
	left:849px;
	top:66px;
}
#e400_160 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:10px;
	position:absolute;
	left:px;
	top:0px;
}
#e400_161 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:10px;
	position:absolute;
	left:0px;
	top:16px;
}
#e400_162 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:5px;
	position:absolute;
	left:0px;
	top:35px;
}
#e400_163 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:459px;
	height:61px;
	position:absolute;
	left:46px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_164 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:61px;
	position:absolute;
	left:37px;
	top:470px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_165 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:61px;
	position:absolute;
	left:46px;
	top:140px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_166 { 
	opacity:1;
	width:332px;
	height:48px;
	position:absolute;
	left:161px;
	top:218px;
}
#e400_167 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:332px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_168 { 
	opacity:1;
	width:392px;
	height:70px;
	position:absolute;
	left:88px;
	top:325px;
}
#e400_169 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:307.6033935546875px;
	height:10.275229454040527px;
	position:absolute;
	left:84.39659881591797px;
	top:-3.410605131648481e-13px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_170 { 
	opacity:1;
	width:62.18696975708008px;
	height:11.987767219543457px;
	position:absolute;
	left:0px;
	top:58.01223373413086px;
	background-image:url(images/e591276_arrow_right_512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_171 { 
	transform: rotate(90.0000001062619deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:434px;
	height:0px;
	position:absolute;
	left:600px;
	top:300px;
}
#e400_172 { 
	opacity:1;
	width:145px;
	height:103px;
	position:absolute;
	left:1615px;
	top:24px;
	background-image:url(images/ehome_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_173 { 
	opacity:1;
	width:147px;
	height:108px;
	position:absolute;
	left:1773px;
	top:19px;
}
#e400_174 { 
	border-radius:500px;
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:123px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_175 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:105px;
	height:59px;
	position:absolute;
	left:42px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_176 { 
	opacity:1;
	width:130px;
	height:118px;
	position:absolute;
	left:818px;
	top:128px;
	background-image:url(images/edocs.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_177 { 
	opacity:1;
	width:81px;
	height:75px;
	position:absolute;
	left:80px;
	top:204px;
	background-image:url(images/edownload_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_178 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:332px;
	height:48px;
	position:absolute;
	left:172px;
	top:569px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
