#e400_79 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e400_80 { 
	background-color:rgba(255, 225.845046043396, 150.8750081062317, 1);
	opacity:1;
	width:112px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_81 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1494px;
	height:677px;
	position:absolute;
	left:246px;
	top:140px;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_82 { 
	opacity:1;
	width:60px;
	height:35px;
	position:absolute;
	left:26px;
	top:60px;
}
#e400_83 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_84 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:10px;
	position:absolute;
	left:0px;
	top:16px;
}
#e400_85 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:px;
	position:absolute;
	left:0px;
	top:35px;
}
#e400_86 { 
	opacity:1;
	width:145px;
	height:103px;
	position:absolute;
	left:1615px;
	top:8px;
	background-image:url(images/ehome_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_87 { 
	opacity:1;
	width:147px;
	height:108px;
	position:absolute;
	left:1773px;
	top:8px;
}
#e400_88 { 
	border-radius:500px;
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:123px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_89 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:105px;
	height:59px;
	position:absolute;
	left:42px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_90 { 
	opacity:1;
	width:98px;
	height:90px;
	position:absolute;
	left:7px;
	top:163px;
	background-image:url(images/eimages_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_91 { 
	opacity:1;
	width:105px;
	height:87px;
	position:absolute;
	left:7px;
	top:308px;
	background-image:url(images/edownload_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
