#e330_38 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e389_2 { 
	opacity:1;
	width:1890px;
	height:866px;
	position:absolute;
	left:13px;
	top:144px;
	background-image:url(images/eeducation_table_frame_slides_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e377_25 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:625px;
	height:101px;
	position:absolute;
	left:645px;
	top:280px;
	font-family:Acme;
	text-align:left;
	font-size:80px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_26 { 
	border-radius:500px;
	background-color:rgba(127.67375707626343, 232.1341037750244, 150.65503031015396, 1);
	opacity:1;
	width:536px;
	height:438px;
	position:absolute;
	left:120px;
	top:404px;
}
#e377_30 { 
	border-radius:500px;
	background-color:rgba(128.0000075697899, 232.00000137090683, 151.00000619888306, 1);
	opacity:1;
	width:536px;
	height:438px;
	position:absolute;
	left:1250px;
	top:402px;
}
#e377_32 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:397px;
	height:330px;
	position:absolute;
	left:1320px;
	top:470px;
	font-family:Acme;
	text-align:center;
	font-size:45px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_29 { 
	border-radius:500px;
	background-color:rgba(128.0000075697899, 232.00000137090683, 151.00000619888306, 1);
	opacity:1;
	width:536px;
	height:438px;
	position:absolute;
	left:690px;
	top:402px;
}
#e377_31 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:382px;
	height:330px;
	position:absolute;
	left:767px;
	top:420px;
	font-family:Acme;
	text-align:center;
	font-size:45px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_28 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:437px;
	height:330px;
	position:absolute;
	left:160px;
	top:450px;
	font-family:Acme;
	text-align:center;
	font-size:45px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
