#e2_117 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e2_118 { 
	opacity:1;
	width:1920px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_119 { 
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_120 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:344px;
	height:110px;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e2_121 { 
	opacity:1;
	width:256px;
	height:70px;
	position:absolute;
	left:1461px;
	top:20px;
}#e2_122 { 
	opacity:1;
	width:167px;
	height:44px;
	position:absolute;
	left:89px;
	top:13px;
}#e2_123 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:167px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e2_124 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_125 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:48px;
	height:48px;
	position:absolute;
	left:11.000021934509277px;
	top:11px;
}#e2_126 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:35.99999237060547px;
	height:40px;
	position:absolute;
	left:6px;
	top:4px;
}#e2_127 { 
	opacity:1;
	width:141px;
	height:60px;
	position:absolute;
	left:1735px;
	top:23px;
}#e2_128 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:140px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}#e2_129 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:141px;
	height:40px;
	position:absolute;
	left:0px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e2_130 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:1920px;
	height:60px;
	position:absolute;
	left:0px;
	top:110px;
}#e2_131 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:229px;
	height:40px;
	position:absolute;
	left:50px;
	top:120px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e2_138 { 
	opacity:1;
	width:515px;
	height:540px;
	position:absolute;
	left:1360px;
	top:206px;
}#e2_139 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:515px;
	height:540px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_140 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_141 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_142 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:259px;
	height:63px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e2_143 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:50px;
	height:50px;
	position:absolute;
	left:446px;
	top:20px;
}#e2_144 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:25px;
	height:15.4375px;
	position:absolute;
	left:12.5px;
	top:17.895828247070312px;
}#e2_145 { 
	opacity:1;
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_146 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:90px;
}#e2_147 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_148 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e2_149 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:180px;
}#e2_150 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_151 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e2_152 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:270px;
}#e2_153 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_154 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e2_155 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:360px;
}#e2_156 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_157 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e2_158 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:450px;
}#e2_159 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_160 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_27 { 
	opacity:1;
	width:398px;
	height:530px;
	position:absolute;
	left:478px;
	top:206px;
}#e3_1 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:398px;
	height:530px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_15 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:366px;
	height:122px;
	position:absolute;
	left:13px;
	top:235px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_13 { 
	opacity:1;
	width:398px;
	height:245px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/enlp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e3_17 { 
	opacity:1;
	width:325px;
	height:46px;
	position:absolute;
	left:13px;
	top:416px;
}#e3_18 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:11px;
}#e3_19 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:18.002498626708984px;
	height:18.002500534057617px;
	position:absolute;
	left:3px;
	top:2.997499942779541px;
}#e3_20 { 
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_21 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:46px;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_29 { 
	opacity:1;
	width:398px;
	height:530px;
	position:absolute;
	left:916px;
	top:206px;
}#e3_2 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:398px;
	height:530px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_14 { 
	opacity:1;
	width:398px;
	height:245px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/eai_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e3_16 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:366px;
	height:122px;
	position:absolute;
	left:16px;
	top:235px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_22 { 
	opacity:1;
	width:325px;
	height:46px;
	position:absolute;
	left:16px;
	top:416px;
}#e3_23 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:11px;
}#e3_24 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:18.002498626708984px;
	height:18.002500534057617px;
	position:absolute;
	left:3px;
	top:2.997499942779541px;
}#e3_25 { 
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_26 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:46px;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_28 { 
	opacity:1;
	width:398px;
	height:530px;
	position:absolute;
	left:40px;
	top:206px;
}#e3_0 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:398px;
	height:530px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_5 { 
	opacity:1;
	width:398px;
	height:245px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/edownload_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e3_6 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:366px;
	height:122px;
	position:absolute;
	left:10px;
	top:235px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_11 { 
	opacity:1;
	width:325px;
	height:46px;
	position:absolute;
	left:10px;
	top:416px;
}#e3_7 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:11px;
}#e3_8 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:18.002498626708984px;
	height:18.002500534057617px;
	position:absolute;
	left:3px;
	top:2.997499942779541px;
}#e3_9 { 
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:46px;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}