#e3_292 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e3_293 { 
	background-color:rgba(245.00000059604645, 231.00000143051147, 231.00000143051147, 1);
	opacity:1;
	width:524px;
	height:681px;
	position:absolute;
	left:661px;
	top:199px;
}#e3_294 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:270px;
	height:76px;
	position:absolute;
	left:788px;
	top:199px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_295 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:70px;
	height:68px;
	position:absolute;
	left:888px;
	top:275px;
}#e3_296 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:58.333343505859375px;
	height:56.66667175292969px;
	position:absolute;
	left:5.833368301391602px;
	top:5.666650772094727px;
}#e3_297 { 
	opacity:1;
	width:70px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_300 { 
	opacity:1;
	width:300.4266662597656px;
	height:60.154998779296875px;
	position:absolute;
	left:772.78662109375px;
	top:394.219970703125px;
}#e3_298 { 
	background-color:rgba(242.00000077486038, 242.7999946475029, 244.0000006556511, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:300.4266662597656px;
	height:60.154998779296875px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_299 { 
	color:rgba(0, 0, 0, 0.20000000298023224);
	opacity:1;
	width:255.01333618164062px;
	height:41.994998931884766px;
	position:absolute;
	left:22.12444496154785px;
	top:9.079999923706055px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_301 { 
	opacity:1;
	width:300.4266662597656px;
	height:60.154998779296875px;
	position:absolute;
	left:772.78662109375px;
	top:523.6099853515625px;
}#e3_302 { 
	background-color:rgba(242.00000077486038, 242.7999946475029, 244.0000006556511, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:300.4266662597656px;
	height:60.154998779296875px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_303 { 
	color:rgba(0, 0, 0, 0.20000000298023224);
	opacity:1;
	width:255.01333618164062px;
	height:41.994998931884766px;
	position:absolute;
	left:22.12444496154785px;
	top:9.079999923706055px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_304 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:172px;
	height:62px;
	position:absolute;
	left:837px;
	top:635px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}#e3_305 { 
	color:rgba(242.00000077486038, 242.7999946475029, 244.0000006556511, 1);
	opacity:1;
	width:106px;
	height:39px;
	position:absolute;
	left:846px;
	top:647px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_306 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:28px;
	height:27px;
	position:absolute;
	left:958px;
	top:653px;
}#e3_307 { 
	opacity:1;
	width:28px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_308 { 
	background-color:rgba(242.00000077486038, 242.7999946475029, 244.0000006556511, 1);
	opacity:1;
	width:18.666664123535156px;
	height:23.625px;
	position:absolute;
	left:4.6666669845581055px;
	top:1.125px;
}#e3_309 { 
	color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:293px;
	height:55px;
	position:absolute;
	left:776px;
	top:715px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_310 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:276px;
	height:59px;
	position:absolute;
	left:784px;
	top:788px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}