#e400_25 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e400_26 { 
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei400_26_372_108 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity:1;
	width:1920px;
	height:791px;
	position:absolute;
	left:1px;
	top:289px;
	background-image:url(images/e360_f_296199640_u386orvazzyoesp3xnhddqpmpol2nsnx_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#ei400_26_352_122 { 
	opacity:1;
	width:429px;
	height:80px;
	position:absolute;
	left:283px;
	top:32px;
}
#ei400_26_317_2 { 
	background-color:rgba(220.00000208616257, 117.9999777674675, 50.99999696016312, 0.7900000214576721);
	opacity:1;
	width:429px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1020px;
	border-top-right-radius:1020px;
	border-bottom-left-radius:1020px;
	border-bottom-right-radius:1020px;
}
#ei400_26_317_5 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.4099999964237213);
	opacity:1;
	width:273px;
	height:56px;
	position:absolute;
	left:22px;
	top:13px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#ei400_26_317_4 { 
	opacity:1;
	border:1px solid rgba(255, 255, 255, 1);
	width:49px;
	height:56px;
	position:absolute;
	left:336px;
	top:12px;
	background-image:url(images/edownload_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#ei400_26_352_105 { 
	opacity:1;
	width:236px;
	height:100px;
	position:absolute;
	left:1658px;
	top:22px;
}
#ei400_26_330_12 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:236px;
	height:83px;
	position:absolute;
	left:0px;
	top:10px;
	border-radius:40px;
}
#ei400_26_330_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:179px;
	height:100px;
	position: absolute;
	left:57px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#ei400_26_352_27 { 
	opacity:1;
	width:314px;
	height:97px;
	position:absolute;
	left:1396px;
	top:25px;
}
#ei400_26_330_8 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:236px;
	height:83px;
	position:absolute;
	left:0px;
	top:7px;
	border-radius:40px;
}
#ei400_26_330_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:237px;
	height:97px;
	position:absolute;
	left:77px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#ei400_26_330_64 { 
	background-color:rgba(202.93750405311584, 101.48781940340996, 36.35964095592499, 0.3199999928474426);
	opacity:1;
	width:235px;
	height:82px;
	position:absolute;
	left:29px;
	top:33px;
}
#ei400_26_330_43 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:214px;
	height:85px;
	position:absolute;
	left:29px;
	top:50px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#ei400_26_372_174 { 
	opacity:1;
	width:1315px;
	height:1409px;
	position:absolute;
	left:815px;
	top:1650px;
	background-image:url(images/eshape_white_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#ei400_26_372_56 { 
	opacity:1;
	width:1079px;
	height:763px;
	position:absolute;
	left:960px;
	top:317px;
	background-image:url(images/eelearning_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_27 { 
	background-color:rgba(247.56250709295273, 152.30950713157654, 89.74141091108322, 0.8600000143051147);
	opacity:1;
	width:1844px;
	height:886px;
	position:absolute;
	left:6px;
	top:122px;
	border-top-left-radius:79px;
	border-top-right-radius:79px;
	border-bottom-left-radius:79px;
	border-bottom-right-radius:79px;
}
#e400_28 { 
	opacity:1;
	width:405px;
	height:334px;
	position:absolute;
	left:40px;
	top:161px;
}
#e400_29 { 
	background-color:rgba(238.00000101327896, 115.03334015607834, 115.03334015607834, 1);
	opacity:1;
	width:405px;
	height:334px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_30 { 

	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:57.51661682128906px;
	position:absolute;
	left:24px;
	top:32.29003143310547px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;
}
#e400_31 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:334px;
	height:244px;
	position:absolute;
	left:29px;
	top:90px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;


}
#e400_32 { 
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:491px;
	top:164px;
}
#e400_33 { 
	background-color:rgba(232.68750607967377, 156.09452962875366, 211.24148726463318, 1);
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_34 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:60px;
	position:absolute;
	left:12px;
	top:29px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;

}
#e400_35 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:333px;
	height:241px;
	position:absolute;
	left:31px;
	top:75px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:34px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_36 { 
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:1389px;
	top:172px;
}
#e400_37 { 
	background-color:rgba(74.84426468610764, 135.85654199123383, 227.37499594688416, 1);
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_38 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:57px;
	position:absolute;
	left:22px;
	top:32px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;

}
#e400_39 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:362px;
	height:239px;
	position:absolute;
	left:35px;
	top:84px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_40 { 
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:943px;
	top:164px;
}
#e400_41 { 
	background-color:rgba(176.48125648498535, 131.484375, 233.7500050663948, 1);
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_42 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:57px;
	position:absolute;
	left:20px;
	top:32px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;

}
#e400_43 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:362px;
	height:239px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:34px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;

}
#e400_44 { 
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:33px;
	top:588px;
}
#e400_45 { 
	background-color:rgba(232.68750607967377, 182.4665129184723, 53.32422584295273, 1);
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_46 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:57px;
	position:absolute;
	left:19px;
	top:29px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;

}
#e400_47 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:362px;
	height:239px;
	position:absolute;
	left:19px;
	top:74px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_48 { 
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:944px;
	top:585px;
}
#e400_49 { 
	background-color:rgba(74.4104191660881, 202.93750405311584, 87.26311549544334, 1);
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_50 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:57px;
	position:absolute;
	left:21px;
	top:34px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;

}
#e400_51 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:362px;
	height:239px;
	position:absolute;
	left:26px;
	top:86px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_52 { 
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:484px;
	top:585px;
}
#e400_53 { 
	background-color:rgba(237.4465987086296, 211.109801530838, 117.73393884301186, 1);
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_54 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:57px;
	position:absolute;
	left:21px;
	top:29px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;

}
#e400_55 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:362px;
	height:239px;
	position:absolute;
	left:14px;
	top:86px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_56 { 
	opacity:1;
	width:405px;
	height:333px;
	position:absolute;
	left:1392px;
	top:588px;
}
#e400_57 { 
	background-color:rgba(122.71875455975533, 217.10062086582184, 223.125, 1);
	opacity:1;
	width:405px;
	height:331px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:49px;
}
#e400_58 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:57px;
	position:absolute;
	left:19px;
	top:29px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
    text-decoration: underline;

}
#e400_59 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:362px;
	height:239px;
	position:absolute;
	left:19px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
