#e400_60 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e400_61 { 
	opacity:1;
	width:147px;
	height:108px;
	position:absolute;
	left:1773px;
	top:21px;
}
#e400_62 { 
	border-radius:500px;
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:123px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_63 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:105px;
	height:59px;
	position:absolute;
	left:42px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_64 { 
	background-color:rgba(255, 225.845046043396, 150.8750081062317, 1);
	opacity:1;
	width:112px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_65 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:1505px;
	height:740px;
	position:absolute;
	left:236px;
	top:233px;
}
#e400_66 { 
	opacity:1;
	width:310px;
	height:163px;
	position:absolute;
	left:834px;
	top:500px;
	background-image:url(images/eplay_button.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_67 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:752px;
	height:104px;
	position:absolute;
	left:236px;
	top:129px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_68 { 
	opacity:1;
	width:60px;
	height:35px;
	position:absolute;
	left:26px;
	top:57px;
}
#e400_69 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_70 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:0px;
	position:absolute;
	left:0px;
	top:16px;
}
#e400_71 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:px;
	position:absolute;
	left:0px;
	top:35px;
}
#e400_72 { 
	opacity:1;
	width:429px;
	height:80px;
	position:absolute;
	left:236px;
	top:33px;
}
#e400_73 { 
	background-color:rgba(220.00000208616257, 117.9999777674675, 50.99999696016312, 0.7900000214576721);
	opacity:1;
	width:429px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1020px;
	border-top-right-radius:1020px;
	border-bottom-left-radius:1020px;
	border-bottom-right-radius:1020px;
}
#e400_74 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.4099999964237213);
	opacity:1;
	width:273px;
	height:56px;
	position:absolute;
	left:22px;
	top:13px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#e400_75 { 
	opacity:1;
	border:1px solid rgba(255, 255, 255, 1);
	width:49px;
	height:56px;
	position:absolute;
	left:336px;
	top:12px;
	background-image:url(images/edownload_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_76 { 
	opacity:1;
	width:145px;
	height:103px;
	position:absolute;
	left:1610px;
	top:23px;
	background-image:url(images/ehome_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_77 { 
	opacity:1;
	width:98px;
	height:90px;
	position:absolute;
	left:7px;
	top:143px;
	background-image:url(images/edocs_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_78 { 
	opacity:1;
	width:105px;
	height:87px;
	position:absolute;
	left:7px;
	top:284px;
	background-image:url(images/eforum_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
