#e400_179 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e400_180 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1494px;
	height:677px;
	position:absolute;
	left:246px;
	top:140px;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_181 { 
	background-color:rgba(255, 225.845046043396, 150.8750081062317, 1);
	opacity:1;
	width:960px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_182 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:743px;
	height:192px;
	position:absolute;
	left:54px;
	top:356px;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_183 { 
	opacity:1;
	width:130px;
	height:121px;
	position:absolute;
	left:830px;
	top:252px;
	background-image:url(images/edownload_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_184 { 
	opacity:1;
	width:60px;
	height:35px;
	position:absolute;
	left:849px;
	top:66px;
}
#e400_185 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_186 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:5px;
	position:absolute;
	left:0px;
	top:16px;
}
#e400_187 { 
	opacity:1;
	border:10px solid rgba(0, 0, 0, 1);
	width:60px;
	height:10px;
	position:absolute;
	left:0px;
	top:35px;
}
#e400_188 { 
	transform: rotate(90.0000001062619deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:434px;
	height:px;
	position:absolute;
	left:600px;
	top:300px;
}
#e400_189 { 
	opacity:1;
	width:145px;
	height:103px;
	position:absolute;
	left:1615px;
	top:24px;
	background-image:url(images/ehome_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_190 { 
	opacity:1;
	width:147px;
	height:108px;
	position:absolute;
	left:1773px;
	top:19px;
}
#e400_191 { 
	border-radius:500px;
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:123px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
#e400_192 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:105px;
	height:59px;
	position:absolute;
	left:42px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_193 { 
	opacity:1;
	width:117px;
	height:93px;
	position:absolute;
	left:824px;
	top:132px;
	background-image:url(images/edocs.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_194 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:326px;
	height:58px;
	position:absolute;
	left:53px;
	top:69px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_195 { 
	opacity:1;
	width:796px;
	height:157px;
	position:absolute;
	left:53px;
	top:899px;
	background-image:url(images/eimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_196 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:673px;
	height:144px;
	position:absolute;
	left:53px;
	top:182px;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
