#e330_36 { 
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e372_108 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity:1;
	width:1920px;
	height:791px;
	position:absolute;
	left:1px;
	top:289px;
	background-image:url(images/e360_f_296199640_u386orvazzyoesp3xnhddqpmpol2nsnx_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e317_7 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1293px;
	height:318px;
	position:absolute;
	left:264px;
	top:140px;
	font-family:Acme;
	text-align:left;
	font-size:80px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e352_122 { 
	opacity:1;
	width:429px;
	height:80px;
	position:absolute;
	left:283px;
	top:32px;
}
#e317_2 { 
	background-color:rgba(220.00000208616257, 117.9999777674675, 50.99999696016312, 0.7900000214576721);
	opacity:1;
	width:429px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1020px;
	border-top-right-radius:1020px;
	border-bottom-left-radius:1020px;
	border-bottom-right-radius:1020px;
}
#e317_5 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.4099999964237213);
	opacity:1;
	width:273px;
	height:56px;
	position:absolute;
	left:22px;
	top:13px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#e317_4 { 
	opacity:1;
	border:1px solid rgba(255, 255, 255, 1);
	width:49px;
	height:56px;
	position:absolute;
	left:336px;
	top:12px;
	background-image:url(images/edownload_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e352_105 { 
	opacity:1;
	width:236px;
	height:100px;
	position:absolute;
	left:1658px;
	top:22px;
}
#e330_12 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:236px;
	height:83px;
	position:absolute;
	left:0px;
	top:10px;
	border-radius:40px;
}
#e330_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:179px;
	height:100px;
	position:absolute;
	left:57px;
	top:25px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e352_27 { 
	opacity:1;
	width:314px;
	height:97px;
	position:absolute;
	left:1396px;
	top:25px;
}
#e330_8 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:236px;
	height:83px;
	position:absolute;
	left:0px;
	top:7px;
	border-radius:40px;
}
#e330_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:237px;
	height:97px;
	position:absolute;
	left:77px;
	top:25px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e330_64 { 
	background-color:rgba(202.93750405311584, 101.48781940340996, 36.35964095592499, 1);
	opacity:1;
	width:235px;
	height:82px;
	position:absolute;
	left:29px;
	top:33px;
}
#e330_43 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:85px;
	position:absolute;
	left:29px;
	top:45px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e372_174 { 
	opacity:;
	width:1200px;
	height:900px;
	position:absolute;
	left:850px;
	top:180px;
	background-image:url(images/eshape_white_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e372_56 { 
	opacity:1;
	width:1079px;
	height:763px;
	position:absolute;
	left:960px;
	top:317px;
	background-image:url(images/eelearning_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
