#e377_33 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e377_35 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:765px;
	height:91px;
	position:absolute;
	left:-79px;
	top:69px;
	font-family:Acme;
	text-align:center;
	font-size:48px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_47 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:765px;
	height:91px;
	position:absolute;
	left:-54px;
	top:926px;
	font-family:Acme;
	text-align:center;
	font-size:48px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_36 { 
	color:rgba(0, 0, 0, 0.550000011920929);
	opacity:1;
	width:88px;
	height:149px;
	position:absolute;
	left:74px;
	top:494px;
	font-family:Inria Serif;
	text-align:left;
	font-size:144px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_37 { 
	color:rgba(0, 0, 0, 0.550000011920929);
	opacity:1;
	width:88px;
	height:149px;
	position:absolute;
	left:1724px;
	top:496px;
	font-family:Inria Serif;
	text-align:left;
	font-size:144px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_38 { 
	opacity:1;
	width:428px;
	height:294px;
	position:absolute;
	left:208px;
	top:184px;
	background-image:url(images/edownload_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e377_39 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:430px;
	height:238px;
	position:absolute;
	left:208px;
	top:524px;
	text-align:left;
	font-size:35px;
    font-family: Inria Serif;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_41 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:430px;
	height:238px;
	position:absolute;
	left:738px;
	top:257px;
	font-family:Inria Serif;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_40 { 
	opacity:1;
	width:427px;
	height:294px;
	position:absolute;
	left:735px;
	top:184px;
	background-image:url(images/edownload__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e377_42 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:430px;
	height:297px;
	position:absolute;
	left:732px;
	top:523px;
	text-align:left;
	font-size:35px;
    font-family: Inria Serif;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_44 { 
	opacity:1;
	width:415px;
	height:311px;
	position:absolute;
	left:1235px;
	top:184px;
	background-image:url(images/edownload__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e377_45 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:430px;
	height:297px;
	position:absolute;
	left:1253px;
	top:528px;
	text-align:left;
	font-size:35px;
    font-family: Inria Serif;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e377_46 { 
	transform: rotate(90.0000001062619deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:434px;
	height:0px;
	position:absolute;
	left:1853px;
	top:161px;
}
