#e399_18 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e399_19 { 
	border-radius:500px;
	background-color:rgba(133.00000727176666, 193.00000369548798, 233.00000131130219, 0.15000000596046448);
	opacity:1;
	width:320px;
	height:266px;
	position:absolute;
	left:-79px;
	top:729px;
}
#e399_20 { 
	background-color:rgba(245.43749392032623, 231.12030297517776, 231.12030297517776, 1);
	opacity:1;
	width:945px;
	height:960px;
	position:absolute;
	left:488px;
	top:60px;
}
#e399_21 { 
	background-color:rgba(245.43749392032623, 231.12030297517776, 231.12030297517776, 1);
	opacity:1;
	width:384px;
	height:33px;
	position:absolute;
	left:685px;
	top:463px;
}
#e399_22 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:27px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei399_22_399_44 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:27px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_23 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:341px;
	height:32px;
	position:absolute;
	left:43px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_24 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:555px;
	height:91px;
	position:absolute;
	left:676px;
	top:540px;
}
#e399_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(200.73280155658722, 204.99077707529068, 243.31249594688416, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:555px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_26 { 
	color:rgba(255, 246.49999290704727, 246.49999290704727, 1);
	opacity:1;
	width:420px;
	height:37px;
	position:absolute;
	left:57px;
	top:26px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_27 { 
	background-color:rgba #F5E7E7;;
	opacity:1;
	width:729px;
	height:55px;
	position:absolute;
	left:599px;
	top:706px;
}
#e399_28 { 
	opacity:1;
	border:2px solid rgba(201.00000321865082, 205.00000298023224, 243.00000071525574, 1);
	width:729px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_29 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:384px;
	height:40px;
	position:absolute;
	left:170px;
	top:15px;
    background-color: #F5E7E7;    
	font-family:Roboto;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_30 { 
	background-color:rgba#F5E7E7;;
	opacity:1;
	width:183px;
	height:87px;
	position:absolute;
	left:860px;
	top:761px;
}
#e399_31 { 
	opacity:1;
	width : 100px;
	height:87px;
	position:relative;
	left:0px;
	top:0px;
	background-image:url(images/efacebook_1.png);
    background-color: #F5E7E7;
	background-repeat:no-repeat;
	background-size:cover;
}
#e399_32 { 
	opacity:1;
	width:70px;
	height:84.92201232910156px;
	position:absolute;
	left:113px;
	top:0px;
	background-image:url(images/egoogle_1.png);
    background-color: #F5E7E7;
	background-repeat:no-repeat;
	background-size:cover;
}
#e399_33 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:422px;
	height:31px;
	position:absolute;
	left:749px;
	top:964px;
	font-family:Roboto;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_34 { 
	background-color:rgba#F5E7E7;
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:681px;
	top:167px;
}
#e399_35 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.25);
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_36 { 
	opacity:1;
	width:70px;
	height:76px;
	position:absolute;
	left:0px;
	top:9px;
	border-top-left-radius:320px;
	border-top-right-radius:320px;
	border-bottom-left-radius:320px;
	border-bottom-right-radius:320px;
	background-image:url(images/eemail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e399_37 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:301px;
	height:53px;
	position:absolute;
	left:105px;
	top:32px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
    
}
#e399_38 { 
	background-color:rgba#F5E7E7
	opacity:1;
	width:550px;
	height:141px;
	position:absolute;
	left:681px;
	top:298px;
}
#e399_39 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.25);
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_40 { 
	opacity:1;
	width:61.130435943603516px;
	height:76px;
	position:absolute;
	left:4px;
	top:9px;
	border-top-left-radius:400px;
	border-top-right-radius:400px;
	border-bottom-left-radius:400px;
	border-bottom-right-radius:400px;
	background-image:url(images/elock_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e399_41 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:430px;
	height:31px;
	position:absolute;
	left:4px;
	top:110px;
	font-family:Roboto;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
    background-color: #F5E7E7;

    
}
#e399_42 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:301px;
	height:53px;
	position:absolute;
	left:112px;
	top:31px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
