#e399_106 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e399_107 { 
	border-radius:500px;
	background-color:rgba(133.00000727176666, 193.00000369548798, 233.00000131130219, 0.15000000596046448);
	opacity:1;
	width:340px;
	height:278px;
	position:absolute;
	left:-120px;
	top:767px;
}
#e399_108 { 
	background-color:rgba(245.00000059604645, 231.00000143051147, 231.00000143051147, 1);
	opacity:1;
	width:945px;
	height:960px;
	position:absolute;
	left:459px;
	top:51px;
}
#e399_109 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:555px;
	height:91px;
	position:absolute;
	left:679px;
	top:820px;
}
#e399_110 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(200.73280155658722, 204.99077707529068, 243.31249594688416, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:555px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_111 { 
	color:rgba(255, 246.49999290704727, 246.49999290704727, 1);
	opacity:1;
	width:420px;
	height:37px;
	position:absolute;
	left:57px;
	top:26px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_112 { 
    background-color: #F5E7E7;
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:681px;
	top:115px;
}
#e399_113 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.25);
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_114 { 
	opacity:1;
	width:70px;
	height:76px;
	position:absolute;
	left:0px;
	top:9px;
	border-top-left-radius:320px;
	border-top-right-radius:320px;
	border-bottom-left-radius:320px;
	border-bottom-right-radius:320px;
	background-image:url(images/eemail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e399_115 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:301px;
	height:53px;
	position:absolute;
	left:98px;
	top:34px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_116 { 
    background-color: #F5E7E7;
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:681px;
	top:518px;
}
#e399_117 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.25);
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_118 { 
	opacity:1;
	width:61.130435943603516px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:400px;
	border-top-right-radius:400px;
	border-bottom-left-radius:400px;
	border-bottom-right-radius:400px;
	background-image:url(images/elock_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e399_119 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:301px;
	height:53px;
	position:absolute;
	left:123px;
	top:33px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_120 { 
    background-color: #F5E7E7;	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:679px;
	top:644px;
}
#e399_121 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.25);
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_122 { 
	opacity:1;
	width:61.130435943603516px;
	height:76px;
	position:absolute;
	left:0px;
	top:4px;
	border-top-left-radius:400px;
	border-top-right-radius:400px;
	border-bottom-left-radius:400px;
	border-bottom-right-radius:400px;
	background-image:url(images/elock_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e399_123 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:301px;
	height:53px;
	position:absolute;
	left:121px;
	top:27px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_124 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:555px;
	height:91px;
	position:absolute;
	left:679px;
	top:259px;
}
#e399_125 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(201.00000321865082, 205.00000298023224, 243.00000071525574, 0.5);
	opacity:1;
	border:3px solid rgba(0, 0, 0, 1);
	width:555px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_126 { 
	color:rgba(255, 246.49999290704727, 246.49999290704727, 1);
	opacity:1;
	width:420px;
	height:37px;
	position:absolute;
	left:63px;
	top:23px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
#e399_127 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:539px;
	height:11px;
	position:absolute;
	left:683px;
	top:761px;
}
#e399_128 { 
	background-color:rgba(116.91715747117996, 131.74999594688416, 25.80104112625122, 1);
	opacity:1;
	width:121px;
	height:11px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_129 { 
	background-color:rgba(116.91715747117996, 131.74999594688416, 25.80104112625122, 1);
	opacity:1;
	width:121px;
	height:11px;
	position:absolute;
	left:139px;
	top:0px;
}
#e399_130 { 
	background-color:rgba(116.91715747117996, 131.74999594688416, 25.80104112625122, 1);
	opacity:1;
	width:121px;
	height:11px;
	position:absolute;
	left:277px;
	top:0px;
}
#e399_131 { 
	background-color:rgba(200.80666959285736, 202.93750405311584, 187.7171927690506, 1);
	opacity:1;
	width:121px;
	height:11px;
	position:absolute;
	left:418px;
	top:0px;
}
#e399_132 { 
    background-color: #F5E7E7;
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:681px;
	top:382px;
}
#e399_133 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.25);
	opacity:1;
	width:550px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
#e399_134 { 
	color:rgba(86.06250151991844, 80.68359375, 80.68359375, 0.3499999940395355);
	opacity:1;
	width:301px;
	height:53px;
	position:absolute;
	left:115px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:31px;
	letter-spacing:0;
	line-height:undefined;
}
