#e400_213 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}
#e400_214 { 
	opacity:1;
	width:1942px;
	height:96px;
	position:absolute;
	left:-11px;
	top:0px;
	background-image:url(images/erectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_215 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:308px;
	height:56px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_216 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:690px;
	height:56px;
	position:absolute;
	left:324px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_217 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:237px;
	height:61px;
	position:absolute;
	left:1662px;
	top:17px;
}
#e400_218 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:189px;
	height:32px;
	position:absolute;
	left:1698px;
	top:32px;
	font-family:Inria Serif;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_219 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:993px;
	height:33px;
	position:absolute;
	left:60px;
	top:138px;
	text-align:left;
	font-size:35px;
    font-family: Inter;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_220 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1304px;
	height:63px;
	position:absolute;
	left:60px;
	top:255px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_221 { 
	opacity:1;
	width:226px;
	height:216px;
	position:absolute;
	left:82px;
	top:369px;
	background-image:url(images/eround_profile_pic_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_222 { 
	opacity:1;
	width:235px;
	height:246px;
	position:absolute;
	left:73px;
	top:636px;
	background-image:url(images/ei2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e400_223 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:529px;
	height:151px;
	position:absolute;
	left:386px;
	top:396px;
	text-align:left;
	font-size:30px;
    font-family: Inter;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_224 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:529px;
	height:151px;
	position:absolute;
	left:386px;
	top:675px;
	text-align:left;
	font-size:30px;
        font-family: Inter;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_225 { 
	background-color:rgba(199.719015955925, 221.51575595140457, 243.31249594688416, 1);
	opacity:1;
	width:470px;
	height:675px;
	position:absolute;
	left:1391px;
	top:255px;
}
#e400_226 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:237px;
	height:61px;
	position:absolute;
	left:1422px;
	top:821px;
}
#e400_227 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:189px;
	height:32px;
	position:absolute;
	left:1461px;
	top:836px;
	font-family:Inria Serif;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
#e400_228 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:428px;
	height:457px;
	position:absolute;
	left:1422px;
	top:318px;
	font-family:Inter;
	text-align:left;
	font-size:33px;
	letter-spacing:-1.7000000476837158;
	line-height:undefined;
}
