#e3_311 { 
	overflow:hidden;
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e3_312 { 
	opacity:1;
	width:1920px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_313 { 
	background-color:rgba(242.00000077486038, 243.00000071525574, 244.0000006556511, 1);
	opacity:1;
	width:1920px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_314 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:344px;
	height:110px;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e3_315 { 
	opacity:1;
	width:256px;
	height:70px;
	position:absolute;
	left:1461px;
	top:20px;
}#e3_316 { 
	opacity:1;
	width:167px;
	height:44px;
	position:absolute;
	left:89px;
	top:13px;
}#e3_317 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:167px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e3_318 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_319 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:48px;
	height:48px;
	position:absolute;
	left:11.000021934509277px;
	top:11px;
}#e3_320 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:35.99999237060547px;
	height:40px;
	position:absolute;
	left:6px;
	top:4px;
}#e3_321 { 
	opacity:1;
	width:141px;
	height:60px;
	position:absolute;
	left:1735px;
	top:23px;
}#e3_322 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:140px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}#e3_323 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:141px;
	height:40px;
	position:absolute;
	left:0px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_324 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:1920px;
	height:60px;
	position:absolute;
	left:0px;
	top:110px;
}#e3_325 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:229px;
	height:40px;
	position:absolute;
	left:50px;
	top:120px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_332 { 
	opacity:1;
	width:515px;
	height:540px;
	position:absolute;
	left:1360px;
	top:206px;
}#e3_333 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:515px;
	height:540px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_334 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_335 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_336 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:259px;
	height:63px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e3_337 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:50px;
	height:50px;
	position:absolute;
	left:446px;
	top:20px;
}#e3_338 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:25px;
	height:15.4375px;
	position:absolute;
	left:12.5px;
	top:17.895828247070312px;
}#e3_339 { 
	opacity:1;
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_340 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:90px;
}#e3_341 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_342 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_343 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:180px;
}#e3_344 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_345 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_346 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:270px;
}#e3_347 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_348 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_349 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:360px;
}#e3_350 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_351 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_352 { 
	opacity:1;
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:450px;
}#e3_353 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:515px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_354 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:314px;
	height:57px;
	position:absolute;
	left:101px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_388 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:1267px;
	height:671px;
	position:absolute;
	left:40px;
	top:206px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}#e3_389 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:281px;
	height:70px;
	position:absolute;
	left:40px;
	top:206px;
}#e3_390 { 
	color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:150px;
	height:48px;
	position:absolute;
	left:105px;
	top:217px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_391 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:68px;
	top:225px;
}#e3_392 { 
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}#e3_393 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:21.333332061767578px;
	height:28px;
	position:absolute;
	left:5.333333492279053px;
	top:1.3333333730697632px;
}#e3_394 { 
	color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:69px;
	height:56px;
	position:absolute;
	left:105px;
	top:300px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_395 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:249px;
	height:67px;
	position:absolute;
	left:105px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_397 { 
	opacity:1;
	width:1061px;
	height:137px;
	position:absolute;
	left:105px;
	top:402px;
	background-image:url(images/eimage_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e3_398 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1031px;
	height:164px;
	position:absolute;
	left:105px;
	top:542px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e3_401 { 
	opacity:1;
	width:149px;
	height:53px;
	position:absolute;
	left:1017px;
	top:719px;
}#e3_399 { 
	background-color:rgba(66.00000366568565, 165.00000536441803, 245.00000059604645, 1);
	opacity:1;
	width:149px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}#e3_400 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:118px;
	height:30px;
	position:absolute;
	left:16px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}